body {
    width: 430px;
    margin: 10 auto;
}
div#buttons {
    margin: 10px;
}
#pumpbuttons {
    width: 350px;
    height: 25px;
    margin: 10px;
}
#pumpmotoroff {
    float: right;
}
#zone1buttons {
    width: 350px;
    height: 25px;
    margin: 10px;
}
#zone2buttons {
    width: 350px;
    height: 25px;
    margin: 10px;
}

#zone1off {
    float:right;
}

#zone2off {
    float:right;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px;
}

p {
    margin: 8px;  
}

button {
    border-width: 3px;
    font-weight: bold;
}