[Unit]
Description=Irrigation Control Server

[Service]
ExecStart=/usr/bin/node /home/debian/irrigate-control/software/node/server.js

[Install]
WantedBy=graphical.target

