[Unit]
Description=PCF85063 RTC Service
 
[Service]
Type=oneshot
ExecStartPre=/bin/bash -c echo "pcf85063 0x51 > /sys/class/i2c-adapter/i2c-2/new_device" 
ExecStart=/sbin/hwclock -s
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
