[Unit]
Description=PCF85063 RTC Service
 
[Service]
Type=simple
WorkingDirectory=/home/debian/irrigate-control/software/systemd
ExecStart=/bin/bash real-time-clock-init.sh
SyslogIdentifier=real_time_clock
 
[Install]
WantedBy=graphical.target
